.main-container {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    height: 90vh;
    overflow: auto;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px 20px;
}

.user-profile-photo {
    width: 30%;
    text-align: center;
    margin-right: 5%;
}
.user-profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.data {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.counts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-full-name {
    margin-right: 10px;
}
.bio {
    text-align: left;
}
.website {
    color: #366089;
    cursor: pointer;
}

.grid-container {
    width: 70%;
    margin: 2% 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}
.grid-item {
    cursor: pointer;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
}
.modal2 {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
}
.modal-container {
    padding: 10px;
    width: 70%;
    background-color:white;
    border: 1.5px solid #D1D1D1;
    border-radius: 5px;
    display: flex;
}
.modal2-container {
    padding: 20px;
    width: 15%;
    background-color:white;
    border: 1.5px solid #D1D1D1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.required-text {
    display: none;
    color: red;
    font-size: 13px;
}
.modal-left-container {
    width: 50%;
    padding: 5px;
    display: inherit;
    align-items: center;
}
.modal-left-container img {
    width: 100%;
}
.modal-right-container {
    width: 50%;
    padding: 5px;
}
.modal-header {
    padding: 0px;
}
.avatar img {
    border-radius: 100%;
    height: 5vh;
    padding: 0px;
}

.caption-container {
    padding: 5px 0px;
}

.tag {
    color: #366089;
    cursor: pointer;
}

.like-container {
    display: flex;
    align-items: center;
    border: 2px solid white;
}

.like-btn {
    cursor: pointer;
    margin: 2px;
}

.comments-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid white;
}

.comment-box-profilepage {
    height: 25vh;
    overflow: auto;
}
.comment {
    font-size: 14px;
}
.poster {
    font-weight: 900;
}
.comment-text {
    margin-left: 10px;
}

.add-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.add-comment Button {
    margin: 0px 10px -5px 10px;
}